<div class='nav'>
	<div id='nav-menu-toggle' class='nav-button' onclick='onToggleNav(event)'>
		Menu +
	</div>
	<ul id='nav-menu' class='nav-menu-closed'>
		<li>
			<a href="/preface">
				<h1>
					<span class='chapter-designation'>Chapter 0</span><br>
					Coding <span>for</span><br>Designers
				</h1>
			</a>
		</li>
		<li>
			<a href="/breaking-barriers">
				<h1>
					<span class='chapter-designation'>Chapter 1</span><br>
					Breaking<br>Barriers
				</h1>
			</a>
		</li>
		<li>
			<a href="/structure-style-and-behavior">
				<h1>
					<span class='chapter-designation'>Chapter 2</span><br>
					Structure,<br>Style, <span>and</span><br>Behavior
				</h1>
			</a>
		</li>
		<li>
			<a href="/coding-and-visual-design">
				<h1>
					<span class='chapter-designation'>Chapter 3</span><br>
					Coding <span>and</span><br>Visual Design
				</h1>
			</a>
		</li>
		<li>
			<a href="/coding-and-concept">
				<h1>
					<span class='chapter-designation'>Chapter 4</span><br>
					Coding <span>and</span><br> Concept
				</h1>
			</a>
		</li>
		<li>
			<a href="/coding-and-javascript">
				<h1>
					<span class='chapter-designation'>Chapter 5</span><br>
					Coding <span>and</span><br> JavaScript
				</h1>
			</a>
		</li>
		<li>
			<a href="/deconstructing-designs">
				<h1>
					<span class='chapter-designation'>Chapter 6</span><br>
					Deconstructing<br>Designs
				</h1>
			</a>
		</li>
	</ul>
</div>