<div id='nav' class='nav btn-transition shadow-1'>
	<div id='nav-menu-toggle' onclick='onToggleNav(event)'>
		Chapters<br>+
	</div>
	<ul id='nav-menu' class='nav-menu-closed'>
		<li>
			<a href="/preface">
				<h1>
					<span class='chapter-designation'>Preface</span><br>
					Coding <span>for</span><br>Designers
				</h1>
			</a>
		</li>
		<li>
			<a href="/breaking-barriers">
				<h1>
					<span class='chapter-designation'>Chapter 1</span><br>
					Breaking<br>Barriers
				</h1>
			</a>
			<ul class="nav-section">
				<li><a href="/breaking-barriers#ones-and-zeros">Ones and Zeros</a></li>
				<li><a href="/breaking-barriers#hard-to-soft">Hard to Soft</a></li>
				<li><a href="/breaking-barriers#bits-and-bytes">Bits and Bytes</a></li>
				<li><a href="/breaking-barriers#black-and-white">Black and White</a></li>
				<li><a href="/breaking-barriers#coding-color">Coding Color</a></li>
				<li><a href="/breaking-barriers#encode-and-decode">Encode and Decode</a></li>
				<li><a href="/breaking-barriers#saved-image">Saved Image</a></li>
			</ul>
		</li>
		<li>
			<a href="/structure-style-and-behavior">
				<h1>
					<span class='chapter-designation'>Chapter 2</span><br>
					Structure,<br>Style, <span>&</span><br>Behavior
				</h1>
			</a>
			<ul class='nav-section'>
				<li><a href="/structure-style-and-behavior#structure">Structure</a></li>
				<li><a href="/structure-style-and-behavior#style">Style</a></li>
				<li><a href="/structure-style-and-behavior#behavior">Behavior</a></li>
			</ul>
		</li>
		<li>
			<a href="/programming-and-visual-design">
				<h1>
					<span class='chapter-designation'>Chapter 3</span><br>
					Programming <span>&</span><br>Visual Design
				</h1>
			</a>
			<ul class="nav-section">
				<li><a href="/programming-and-visual-design#design">Design</a></li>
				<li><a href="/programming-and-visual-design#elements-and-elements">Elements and Elements</a></li>
				<li><a href="/programming-and-visual-design#principles-and-patterns">Principles and Patterns</a></li>
				<li><a href="/programming-and-visual-design#constructs-and-components">Constructs and Components</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/interactive-code">
				<h1>
					<span class='chapter-designation'>Chapter 4</span><br>
					Interactive<br>Code
				</h1>
			</a>
			<ul class="nav-section">
				<li><a href="/interactive-code#authoring-compiling-and-executing">Authoring, Compiling, and
						Executing</a></li>
				<li><a href="/interactive-code#frame-rate">Frame Rate</a></li>
				<li><a href="/interactive-code#event-loop">Event Loop</a></li>
				<li><a href="/interactive-code#sync-and-async">Sync and Async</a></li>
				<li><a href="/interactive-code#interfacing">Interfacing</a></li>
				<li><a href="/interactive-code#client-and-server">Client and Server</a></li>
				<li><a href="/interactive-code#anatomy-of-html-css-and-javascript">Anatomy of HTML, CSS, and
						JavaScript</a>
				<li>
				<li><a href="/interactive-code#work-right-better-">Work. Right. Better.</a></li>
			</ul>
		</li>
		<li>
			<a href="/80-20-javascript">
				<h1>
					<span class='chapter-designation'>Chapter 5</span><br>
					80/20<br>JavaScript
				</h1>
			</a>
			<ul class="nav-section">
				<li><a href="/80-20-javascript#environment">Environment</a></li>
				<li><a href="/80-20-javascript#mindset">Mindset</a></li>
				<li><a href="/80-20-javascript#subset">Subset</a></li>
				<li><a href="/80-20-javascript#keywords">Keywords</a></li>
				<li><a href="/80-20-javascript#expressions">Expressions</a></li>
				<li><a href="/80-20-javascript#operators">Operators</a></li>
				<li><a href="/80-20-javascript#statements">Statements</a></li>
				<li><a href="/80-20-javascript#functions">Functions</a></li>
				<li><a href="/80-20-javascript#errors">Errors</a></li>
			</ul>
		</li>
		<li>
			<a href="/deconstructing-designs">
				<h1>
					<span class='chapter-designation'>Chapter 6</span><br>
					Deconstructing<br>Designs
				</h1>
			</a>
			<ul class="nav-section">
				<li><a href="/deconstructing-designs#process">Process</a></li>
				<li><a href="/deconstructing-designs#deconstruct">Deconstruct</a></li>
				<li><a href="/deconstructing-designs#reconstruct-structure">Reconstruct Structure</a>
				</li>
				<li><a href="/deconstructing-designs#reconstruct-style">Reconstruct Style</a></li>
				<li><a href="/deconstructing-designs#reconstruct-behavior">Reconstruct Behavior</a>
				</li>
			</ul>
		</li>
	</ul>
</div>