<div id='wip-container'>
	<div class='wip'>
		<span>62% Complete</span>
	</div>

	<div class='github-follow'>
		<a href="https://twitter.com/derekknox?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-lang="en" data-show-count="false">Follow @derekknox</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

	<div class='github-star'>
		<a class="github-button" href="https://github.com/derek-knox/Coding-For-Designers" data-icon="octicon-star" data-show-count="true" aria-label="Star derek-knox/Coding-For-Designers on GitHub">Star</a>
	</div>
</div>