<div class='cfd'>
	<a href="/">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="2401 -55 32 32">
			<defs>
				<style>
					.cls-1 {
						clip-path: url(#clip-cfd);
					}

					.cls-2 {
						fill: #9c3;
					}

					.cls-3 {
						fill: #272822;
					}
				</style>
				<clipPath id="clip-cfd">
					<rect x="2401" y="-55" width="32" height="32" />
				</clipPath>
			</defs>
			<g id="cfd" class="cls-1">
				<rect class="cls-3" x="2401" y="-55" width="32" height="32" />
				<path id="Path_7" data-name="Path 7" class="cls-2"
					d="M-5.16-2.262a.408.408,0,0,1,.144.027.391.391,0,0,1,.138.093l.8.846A3.338,3.338,0,0,1-5.4-.255,4.63,4.63,0,0,1-7.278.1,4.481,4.481,0,0,1-9.063-.243,3.863,3.863,0,0,1-10.4-1.179,4.122,4.122,0,0,1-11.244-2.6a5.229,5.229,0,0,1-.294-1.779,4.924,4.924,0,0,1,.318-1.8,4.173,4.173,0,0,1,.894-1.413,4.026,4.026,0,0,1,1.38-.924,4.618,4.618,0,0,1,1.77-.33,4.723,4.723,0,0,1,.927.087,4.531,4.531,0,0,1,.813.24,3.714,3.714,0,0,1,.7.369,3.652,3.652,0,0,1,.564.468l-.684.918a.871.871,0,0,1-.156.153.406.406,0,0,1-.252.069.45.45,0,0,1-.2-.048,2.255,2.255,0,0,1-.2-.117l-.237-.15A1.819,1.819,0,0,0-6.219-7a2.529,2.529,0,0,0-.414-.117,2.825,2.825,0,0,0-.555-.048,2.236,2.236,0,0,0-.921.186,2.007,2.007,0,0,0-.72.543,2.511,2.511,0,0,0-.468.876,3.909,3.909,0,0,0-.165,1.185A3.6,3.6,0,0,0-9.279-3.18a2.622,2.622,0,0,0,.5.879,2.113,2.113,0,0,0,.735.543,2.2,2.2,0,0,0,.9.186,4.308,4.308,0,0,0,.5-.027,2.292,2.292,0,0,0,.426-.09,1.736,1.736,0,0,0,.372-.168,2.347,2.347,0,0,0,.354-.267.709.709,0,0,1,.156-.1A.409.409,0,0,1-5.16-2.262Zm4.014-4.92v2.214H1.842V-3.4H-1.146V0h-2.04V-8.742H2.442v1.56Zm12.69,2.808a4.584,4.584,0,0,1-.327,1.749A4.092,4.092,0,0,1,10.3-1.239a4.177,4.177,0,0,1-1.431.912A5.064,5.064,0,0,1,7.008,0h-3.4V-8.742h3.4a5.023,5.023,0,0,1,1.857.33A4.237,4.237,0,0,1,10.3-7.5a4.06,4.06,0,0,1,.921,1.383A4.568,4.568,0,0,1,11.544-4.374Zm-2.076,0A3.809,3.809,0,0,0,9.3-5.544a2.5,2.5,0,0,0-.483-.885,2.1,2.1,0,0,0-.771-.558,2.618,2.618,0,0,0-1.038-.2H5.652V-1.56H7.008a2.618,2.618,0,0,0,1.038-.195,2.1,2.1,0,0,0,.771-.558A2.5,2.5,0,0,0,9.3-3.2,3.83,3.83,0,0,0,9.468-4.374Z"
					transform="translate(2417 -34)" />
			</g>
		</svg>
	</a>
</div>

<div id='header-container'>

	<div class='github-follow'>
		<a href="https://twitter.com/derekknox?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-lang="en"
			data-show-count="false">Follow @derekknox</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

</div>