/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Elements */

html {
	font-size: 18px;
	line-height: 23px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.27777778em;
	margin: 0;
	color: #272822;
	background-color: #eee;
	transition: all .2s ease-out;
	overflow-x: hidden;
}
h1 {
	font-size: 4.22222222em;
	line-height: 1.21052632em;
	margin-top: 0.30263158em;
	margin-bottom: 0.60526316em;
	text-transform: uppercase;
}
h2 {
	font-size: 2.61111111em;
	line-height: 1.46808511em;
	margin-top: 0.9787234em;
	margin-bottom: 0.4893617em;
}
h3 {
	font-size: 1.61111111em;
	line-height: 1.5862069em;
	margin-top: 0.9787234em;
	margin-bottom: 0.4893617em;
}
h1, h2, h3 {
	line-height: 1em;
	font-weight: 900;
	color: #272822;
	transition: all .2s ease-out;
}
h1 span {
	font-size: 50%;
	display: inline-block;
	line-height: 1em;
}
p, ul, ol, pre, table, blockquote {
	margin-top: 0em;
	margin-bottom: 1.27777778em;
}
p + ul, p + ol {
	margin-top: -0.60526316em;
}
ul ul, ol ol, ul ol, ol ul {
	margin-top: 0em;
	margin-bottom: 0em;
}
header h1,
footer h1 {
	font-size: 1.61111111em;
	margin-bottom: 0;
}
header ul {
	padding: 0;
}
header li {
	list-style: none;
	margin-bottom: 2px;
}
section {
	margin-top: 50px;
}
a, b, i, strong, em, small, code {
	line-height: 0;
	outline: 0;
}
hr {
	border: none;
	background-color: #666;
    height: 1px;
	margin: 1em -1em;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
img {
	display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto .5em;
}
figcaption {
	color: #999;
	font-variant: small-caps;
	line-height: initial;
}
footer {
	margin-bottom: 50px;
}

/* CFD */

.cfd {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	z-index: 1;
}

/* WIP Banner */

#wip-container {
	opacity: 0;
    transition: opacity .9s linear 2s;
}

#wip-container.reveal {
	opacity: 1;
}

.wip {
	font-size: 11px;
    font-weight: 400;
    border: 1px solid #d1d2d3;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 40px;
    margin: 10px;
    padding: 0 6px;
    height: 18px;
    color: #24292e;
    cursor: default;
	z-index: 1;
}

.wip span {
	line-height: 18px;
    vertical-align: 8px;
}

.github-star {
	position: absolute;
	top: 0;
	right: 138px;
	padding: 10px;
	z-index: 1;
}

.github-follow {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	z-index: 1;
}

/* Menu */

.header-home {
	position: relative;
	z-index: 0;
}

.header-home #container-3d {
	left: 0;
	margin-left: 150px;
}

.header-home .nav {
	z-index: 1;
	background-color: #272822;
}

.nav,
.light-mode {
	margin-top: 0em;
	display: inline-block;
	border: 2px solid #fff;
	width: 108px;
	height: 66px;
	transition: all .2s ease-out;
	overflow: hidden;
	user-select: none;
	background-color: #eeeeee;
}

.light-mode {
	margin-top: 15px;
}

.nav-open {
	width: 340px;
	height: 1420px;
}

.nav a:link,
.nav a:visited,
.nav a:active,
footer a:link,
footer a:visited,
footer a:active {
	text-decoration: none;
}

.nav a:hover,
footer a:hover {
	text-decoration: underline;
}

.nav-section {
	padding: 10px 0 0 0;
}

#nav-menu-toggle,
#light-mode-toggle,
#nav-menu {
	margin-top: 0em;
    padding: 10px 15px;
}

#nav-menu {
	width: 312px;
}

#nav-menu-toggle,
#light-mode-toggle {
	cursor: pointer;
}

.nav-menu-open {
	display: block;
	margin-top: 1.27777778em;
}

.nav-menu-closed {
	display: none;
}

.chapter-designation {
	font-size: 40%;
	font-weight: 400;
	text-transform: uppercase;
	color: #999;
}

/* Home */

.home-container {
	width: 100vw;
}

.intro-container {
	padding: 0 20vw;
	position: relative;
}

.intro-top {
	height: 62vh;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro-top h1 {
	font-size: 3.555em;
	padding-top: 53px;
	margin: 0 0 20px;
}
.intro-top h2 {
	font-size: 1.25em;
	font-style: italic;
	font-weight: 400;
	line-height: 1.29em;
	margin-top: 0;
}
.intro-top h3 {
	font-size: 1.25em;
	text-transform: uppercase;
	margin: 0;
    position: absolute;
    bottom: -4px;
}
.intro-top h3 span {
    font-size: 50%;
    display: inline-block;
    line-height: 1em;
}

.intro-bottom {
	min-height: 38vh;
	background-color: #272822;
	overflow: hidden;
}

/* TOC */

.toc,
.toc a,
.toc h1,
.toc h2,
.toc h3 {
	color: #99cc33;
}

.toc {
	background-color: #272822;
}

.toc header {
	padding: calc(18vh - 30px) 0;
	margin-top: 0;
}

.header-home a {
	color: #99cc33;
}

.toc .nav {
	max-width: 720px; 
    margin: 0; 
    padding: 0;
}

/* 3D */

#container-3d {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
	padding: 0 25px 0 0;
	width: 100%;
	max-width: 520px;
	height: 320px;
	overflow: hidden;
	z-index: -1;
}

/* Visual Areas (main copy, image figure w/caption, and code) */

.header-chapter,
.change-chapter,
.content-text,
.content-code pre {
	max-width: 720px;
	margin: 0 auto;
	padding: 0 25px;
}

.header-chapter {
	user-select: none;
	position: relative;
	padding-top: 100px;
}

.heading-anchor,
.figure-anchor {
	text-decoration: none;
}

.heading-anchor-hash,
.figure-anchor-hash {
	color: #24292e;
	position: absolute;
    margin-left: -36px;
    padding: 12px 24px 12px 12px;
    line-height: normal;
    cursor: pointer;
    user-select: none;
}

.figure-anchor-hash {
    color: #999;
    padding: 0;
    margin: 0;
    line-height: inherit;
    margin-left: -14px;
    font-size: 80%;
}

.content-visual,
.content-code {
	width: auto;
	margin: 0 auto 1.27777778em;
	padding: 0 15px;
	text-align: center;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #272822;
	color: #eeeeee;
	font-size: 80%;
}

.content-visual figure,
.content-code pre[class*="language-"] {
	margin: 1.27777778em auto;
	border-radius: 0;
}
.content-visual figure {
	padding: 1em; /* Ensure figure padding matches prismjs code special padding to keep "visual areas" consistent */
}

.content-text code {
	padding: 0 .2em;
	margin: 0 .1em;
	border-radius: 3px;
	background-color: #ccc;
	font-size: 80%;
}

.header-chapter a,
.footer-chapter a {
	color: #272822;
}

.change-chapter {
	display: flex;
	justify-content: space-between;
	margin: 25px auto 100px auto;
}

/* Custom Selection Color */

::-moz-selection { background: #99cc33;  color: #24292e;}
::selection { background: #99cc33;  color: #24292e;}

/* Prismjs Override */

.content-code .line-numbers .line-numbers-rows {
	border-color: #444;
}
.content-code .line-numbers-rows > span:before {
	color: #666;
}

/* Custom Scrollbar */

pre::-webkit-scrollbar
{
	height: 8px;
	background-color: #333;
}

pre::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: #444;
}

/* Custom hr */

.hr {
  display: inline-block;
}

/* Page Reveal */

#reveal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #eee;
	z-index: 2;

	opacity: 1;
  	transform-origin:top;
}

#reveal-overlay.show {
	opacity: 0;
	transition: all .9s ease-in;
}

#reveal-overlay.hide {
	display: none;
}

/* Dark Mode */

body.dark-mode {
	color: #eee;
	background-color: #272822;
}

.dark-mode .wip {
	color: #eee;
}

.dark-mode .nav,
.dark-mode .light-mode {
	background-color: #272822;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
	color: #99cc33;
}

.dark-mode .header-chapter a,
.dark-mode .footer-chapter a {
	color: #99cc33;
}

.dark-mode .content-text code {
	background-color: #555;
}

.dark-mode .content-visual,
.dark-mode .content-code {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.dark-mode .heading-anchor-hash {
	color: #99cc33;
}

/* Utils */

.align-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.shadow-1 {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.80);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.80);
}

/* Media Queries */

@media screen and (max-width: 768px) {
	.intro-container {
		padding: 0 10vw;
	}
	.home-button {
		display: inline-block;
		padding: 5px 10px;
		margin-right: 10px;
	}
	.intro-top h3 {
		bottom: -3px;
	}
}

@media screen and (max-width: 640px) {
	html {
		font-size: 16px;
	}
	.intro-container {
		padding: 0 25px;
	}
	.nav-open {
		width: calc(100vw - 54px);
		height: 1242px;
	}
}

@media screen and (max-width: 480px),
	   (max-device-width: 720px) and (orientation: landscape) {
	h1, .intro-top h1 {
		font-size: 2.22222222em;
	}
	.intro-top h1 {
		margin-bottom: 8px;
	}
	h2, .intro-top h2 {
		font-size: 1.4em;
	}
	.intro-top h2 {
		font-size: 1em;
	}
	h3, .intro-top h3 {
		font-size: .9em;
	}
	.heading-anchor-hash {
		margin-left: -18px;
    	padding: 1px;
	}
	.home-buttons {
		margin-top: 0;
	}
	.home-button {
		margin-top: 15px;
	}
	.change-chapter {
		font-size: 80%;
		margin-bottom: 75px;
	}
}