/* ELEMENTS */

html {
	font-size: 18px;
	line-height: 23px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.27777778em;
	margin: 0;
	background-color: #eee;
}
h1 {
	font-size: 4.22222222em;
	line-height: 1.21052632em;
	margin-top: 0.30263158em;
	margin-bottom: 0.60526316em;
	text-transform: uppercase;
}
h2 {
	font-size: 2.61111111em;
	line-height: 1.46808511em;
	margin-top: 0.9787234em;
	margin-bottom: 0.4893617em;
}
h3 {
	font-size: 1.61111111em;
	line-height: 1.5862069em;
	margin-top: 0.9787234em;
	margin-bottom: 0.4893617em;
}
h1, h2, h3 {
	line-height: 1em;
	font-weight: 900;
	color: #272822;
	overflow: hidden;
}
h1 span {
	font-size: 50%;
	display: inline-block;
	line-height: 1em;
}
p, ul, ol, pre, table, blockquote {
	margin-top: 0em;
	margin-bottom: 1.27777778em;
}
ul ul, ol ol, ul ol, ol ul {
	margin-top: 0em;
	margin-bottom: 0em;
}
section {
	margin-top: 10vh;
}
a, b, i, strong, em, small, code {
	line-height: 0;
}
hr {
	border: none;
	background-color: #666;
    height: 1px;
	margin: 1em -1em 0.5em;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto .5em;
}
figcaption {
	color: #999;
	font-variant: small-caps;
}


/* WIP Banner */

.wip {
	font-weight: 900;
	font-size: 60%;
	background-color: #99cc33;
	border: 1px solid #272822;
	position: fixed;
	top: 25px;
	right: -50px;
	padding: 2px 50px;
	transform: rotate(45deg);
}

/* Visual Areas (main copy, image figure w/caption, and code) */

.content-text,
.content-code pre {
	max-width: 720px;
	margin: 0 auto;
	padding: 0 25px;
}

.content-visual,
.content-code {
	width: auto;
	margin: 0 auto 1.27777778em;
	padding: 0 15px;
	text-align: center;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #272822;
	color: #eeeeee;
	font-size: 80%;
}

.content-visual figure,
.content-code pre[class*="language-"] {
	margin: 1.27777778em auto;
	border-radius: 0;
}
.content-visual figure {
	padding: 1em; /* Ensure figure padding matches prismjs code special padding to keep "visual areas" consistent */
}

p code {
	padding: 0 .2em;
	margin: 0 .1em;
	border-radius: 3px;
	background-color: #ccc;
	font-size: 80%;
}

/* Prismjs Override */

.content-code .line-numbers .line-numbers-rows {
	border-color: #444;
}
.content-code .line-numbers-rows > span:before {
	color: #666;
}

/* Custom Scrollbar */

pre::-webkit-scrollbar
{
	height: 8px;
	background-color: #333;
}

pre::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: #444;
}

/* Custom hr */

.hr {
  display: inline-block;
}

/* Media Queries */

@media screen and (max-width: 640px) {
	html {
		font-size: 16px;
	}
}