<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Coding for Designers">
    <meta property="og:locale" content="en_ID">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.codingfordesignersbook.com">
    <meta property="og:image" content="http://www.codingfordesignersbook.com/assets/img/coding-for-designers-twitter-card.png">
    {{> twitter-card}}
    {{> header-main}}
    <link rel="stylesheet" type="text/css" href="../assets/css/book-style.css?{{version}}">
    <link rel="stylesheet" href="../assets/css/prism.css">
  </head>
  <body>
    
    {{> wip}}

    <header class='header-chapter'>
      {{> nav}}
      <br>
      <div id='light-mode' class='light-mode shadow-1'>
        <div id='light-mode-toggle' onclick='onToggleDarkMode(event)'>
          Light<br>+
        </div>
      </div>
    </header>

    <section>
      <div class='content-text'>
        <h1 class='chapter-title'>{{{ htmlTitle }}}</h1>
      </div>
      <div class='content-text'>
        {{{ contents }}}
      </div>
    </section>

    <footer class='footer-chapter change-chapter'>
      <div class="prev-chapter">
        {{{ htmlPrevChapter }}}
      </div>
      <div class="next-chapter">
        {{{ htmlNextChapter }}}
      </div>
    </footer>

    <!-- Reveal Animation -->
    <div id='reveal-overlay'></div>

    <script src="../assets/js/book.js?{{version}}"></script>
    <script src="../assets/js/prism.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    {{> google-analytics }}

  </body>
</html>
