<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Coding for Designers">
    <meta property="og:locale" content="en_ID">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.codingfordesignersbook.com">
    <meta property="og:image" content="http://www.codingfordesignersbook.com/assets/img/coding-for-designers-twitter-card.png">
    {{> twitter-card}}
    {{> header-main}}
    <link rel="stylesheet" type="text/css" href="../assets/css/book-style.css?{{version}}">
  </head>
  <body>
    
    {{> wip}}

    <div class='home-container'>
      
      <div class='intro-container intro-top'>

        <!-- Title -->
        <h1>Coding <span>for</span><br>Designers</h1>
        <h2>A Visually Infused Prerequisite<br>for Learning and Talking Code</h2>

        <!-- Author -->
        <h3><span>by</span> Derek Knox</h3>

      </div>

      <div class='intro-container intro-bottom toc'>
        <header class='header-home'>
          {{> nav}}
        </header>
      </div>

    </div>

    <!-- Reveal Animation -->
    <div id='reveal-overlay'></div>

    <script src="../assets/js/book.js?{{version}}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    {{> google-analytics }}

  </body>
</html>