<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/book-style.css?{{version}}">
  </head>
  <body>
    
    {{> wip}}

    <div class='home-container'>
      <div class='intro-container intro-top'>

        <!-- Title -->
        <h1>Coding <span>for</span><br>Designers</h1>
        <h2>A Visually Infused Prerequisite<br>for Learning and Talking Code</h2>

        <!-- Buttons -->
        <div class="home-buttons">
          <div class="home-button shadow-1">
            <a href="/preface">Start Reading</a>
          </div>
          <div class="home-button shadow-1">
            <a href="https://goo.gl/forms/hFoc5wE7x7KCYDwI2">Give Feedback</a>
          </div>
          <div class="home-button shadow-1">
            <a href="https://github.com/derek-knox/Coding-For-Designers">GitHub</a>
          </div>
        </div>

        <!-- Author -->
        <h3><span>by</span> Derek Knox</h3>
      </div>

      <div class='intro-container intro-bottom'>
        
        <!-- Bottom GFX -->

      </div>
    </div>

    <script src="../assets/js/book.js?{{version}}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </body>
</html>